<center><h1>Cadastrar valores</h1>
<!-- controle_gerenciamentos -->
<table>
  <thead>
    <tr>
      <th>Valor hora,</th>
      <th>Hora adicional,</th>
      <th>Valor diaria,</th>
      <th>Mensalista meio turno,</th>
      <th>Mensalista integral,</th>
      <th>Numero vagas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<br>

<%= link_to 'Novos valores', new_controle_gerenciamento_path %>
<br>
<br>
  <tbody>
    <% @controle_gerenciamentos.each do |controle_gerenciamento| %>
      <tr>
        <td><%= controle_gerenciamento.valor_hora %></td>
        <td><%= controle_gerenciamento.horaadd %></td>
        <td><%= controle_gerenciamento.valor_diaria %></td>
        <td><%= controle_gerenciamento.mensalista_meioturno %></td>
        <td><%= controle_gerenciamento.mensalista_integral %></td>
        <td><%= controle_gerenciamento.num_vagas %></td>
        <td><%= link_to 'Visualizar', controle_gerenciamento %></td>
        <td><%= link_to 'Editar', edit_controle_gerenciamento_path(controle_gerenciamento) %></td>
<<<<<<< HEAD
        <td><%= link_to 'Excluir', controle_gerenciamento, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
=======
        <td><%= link_to 'Excluir', controle_gerenciamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
>>>>>>> origin/master
      </tr>
    <% end %>
  </tbody>
</table>


<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<%= link_to 'Novos valores', new_controle_gerenciamento_path %>
>>>>>>> origin/master
>>>>>>> origin/master
</center>