<p id="notice"><%= notice %></p>

<p>
  <strong>Valor hora:</strong>
  <%= @controle_gerenciamento.valor_hora %>
</p>

<p>
  <strong>Horaadd:</strong>
  <%= @controle_gerenciamento.horaadd %>
</p>

<p>
  <strong>Valor diaria:</strong>
  <%= @controle_gerenciamento.valor_diaria %>
</p>

<p>
  <strong>Mensalista meioturno:</strong>
  <%= @controle_gerenciamento.mensalista_meioturno %>
</p>

<p>
  <strong>Mensalista integral:</strong>
  <%= @controle_gerenciamento.mensalista_integral %>
</p>

<p>
  <strong>Num vagas:</strong>
  <%= @controle_gerenciamento.num_vagas %>
</p>

<%= link_to 'Editar', edit_controle_gerenciamento_path(@controle_gerenciamento) %> |
<%= link_to 'Voltar', controle_gerenciamentos_path %>
