<center><h1>Controle de Entrada e Saída</h1>

<table>
  <thead>
    <tr>
      <th>Placa,</th>
      <th>Hora entrada,</th>
      <th>Hora saida,</th>
      <th>Total.</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<br>

<%= link_to 'Novo Controle de Entrada e Saída', new_controle_path %>
<br>
<br>

  <tbody>
    <% @controles.each do |controle| %>
      <tr>
        <td><%= controle.placa %></td>
        <td><%= controle.hora_entrada %></td>
        <td><%= controle.hora_saida %></td>
        <td><%= controle.total %></td>
        <td><%= link_to 'Visualizar', controle %></td>
        <td><%= link_to 'Editar', edit_controle_path(controle) %></td>
        <td><%= link_to 'Excluir', controle, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</center>