<<<<<<< HEAD

<center>
=======
<center>

>>>>>>> origin/master
<h1>Peter Park - Estacionamento</h1>
<h3>Acesso ao Sistema</h3>

<%= form_tag sessions_path do %>
<p>
	<%= label_tag :Usuário %>
	<br />
	<%= text_field_tag :email, params[:email] %>
</p>
<p>
	<%= label_tag :Senha %>
	<br />
	<%= password_field_tag :password %>
</p>
<p class="button">
	<%= submit_tag "Entrar" %>
</p>
<p>
	<!--<%= link_to "Sign up", sign_up_path %> -->
</p>
<% end %>
<<<<<<< HEAD
</center>
=======
</center>
>>>>>>> origin/master
