<%= form_for(@caduser) do |f| %>
  <% if @caduser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caduser.errors.count, "error") %> prohibited this caduser from being saved:</h2>

      <ul>
      <% @caduser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :rg %><br>
    <%= f.text_field :rg %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :placa %><br>
    <%= f.text_field :placa %>
  </div>
  <div class="field">
    <%= f.label :box %><br>
    <%= f.text_field :box %>
  </div>
  <div class="field">
    <%= f.label :turno %><br>
    <%= f.text_field :turno %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
