<center><h1>Cadastro de Cliente</h1>

<table>
  <thead>
    <tr>
      <th>Nome,</th>
      <th>Rg,</th>
      <th>Cpf,</th>
      <th>Placa,</th>
      <th>Box,</th>
      <th>Turno.</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<br>

<%= link_to 'Novo cadastro de Cliente', new_caduser_path %>

<br>
<br>

  <tbody>
    <% @cadusers.each do |caduser| %>
      <tr>
        <td><%= caduser.nome %></td>
        <td><%= caduser.rg %></td>
        <td><%= caduser.cpf %></td>
        <td><%= caduser.placa %></td>
        <td><%= caduser.box %></td>
        <td><%= caduser.turno %></td>
        <td><%= link_to 'Visualizar', caduser %></td>
        <td><%= link_to 'Editar', edit_caduser_path(caduser) %></td>
        <td><%= link_to 'Excluir', caduser, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</center>