<center><h1>Cadastro de Carros</h1>

<br>

<%= link_to 'Novo Cadastro', new_cadcarro_path %>

<br>
<br>

<table>
  <thead>
    <tr>
      <th>Marca,</th>
      <th>Modelo,</th>
      <th>Cor,</th>
      <th>Placa,</th>
      <th>Ano.</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cadcarros.each do |cadcarro| %>
      <tr>
        <td><%= cadcarro.marca %></td>
        <td><%= cadcarro.modelo %></td>
        <td><%= cadcarro.cor %></td>
        <td><%= cadcarro.placa %></td>
        <td><%= cadcarro.ano %></td>
        <td><%= link_to 'Visualizar', cadcarro %></td>
        <td><%= link_to 'Editar', edit_cadcarro_path(cadcarro) %></td>
        <td><%= link_to 'Excluir', cadcarro, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</center>