<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @cadcarro.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @cadcarro.modelo %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @cadcarro.cor %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @cadcarro.placa %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @cadcarro.ano %>
</p>

<%= link_to 'Edit', edit_cadcarro_path(@cadcarro) %> |
<%= link_to 'Back', cadcarros_path %>
