<!DOCTYPE html>
<html>
	<head>
		<title>Peterpark</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		
		<%= stylesheet_link_tag "estilo.css" %>
		
	</head>
	<body>
		<div class="heading"><h1 class="center">Peter Park - Estacionamento</h1>
		<div id="user_nav" class="menu-login">
			<% if current_user %>
			Bem-vindo  <%= current_user.email %>.
			<%= link_to "Sair", log_out_path %>
			<% else %>
			<%= link_to "Sign up", sign_up_path %> or
			<%= link_to "Entrar", log_in_path %>
			<% end %>
		
		<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
		</div>
		
		<div id="Menu" class="menu4">
    <a href="http://localhost:3000/home/index"><span>Home</span></a>
    <a href="http://localhost:3000/cadcarros/" ><span>Cadastro de Carro</span></a>
    <a href="http://localhost:3000/controles/"><span>Contr Entrada-Saída</span></a>
	<a href="http://localhost:3000/cadusers/"><span>Cadastro Usuário</span></a>
	<a href="http://localhost:3000/controle_gerenciamentos/"><span>Controle de Gerenc</span></a>
	   </div>
	   <div class="menu4sub"> </div>
		</div>
		
<!-- MENU ANTIGO		
		<div id="Menu" class="menu">
			
<a href="http://localhost:3000/home/index">Home</a> 
<a href="http://localhost:3000/cadcarros/">Cadastro de Carro</a>
<a href="http://localhost:3000/controles/">Controle de Entrada e Saída</a>
<a href="http://localhost:3000/cadusers/">Cadastro Usuário</a>
<a href="http://localhost:3000/controle_gerenciamentos/">Controle de Gerenciamento</a>

			</div> -->

		<%= yield %>

	</body>
</html>
